.home-container{
    padding: 20px;
    height: 100vh;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 10%;
    padding-right: 10%;
}

.home-profile{
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}